{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h1>Connexion</h1>

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.password) }}
	<!-- Le champ CSRF doit être inclus -->
	{{ form_end(form) }}

	{% if error %}
		<div class="alert alert-danger">
			<strong>Erreur !</strong>
			{{ error.messageKey|trans(error.messageData, 'security') }}
		</div>
	{% endif %}

	<p>Dernier nom d'utilisateur :
		{{ last_username }}</p>
{% endblock %}

